rails_size: 200x200
timeout_size: 30
per_page: 3
course:
  course_image: "http://icetl.com/wp-content/uploads/2015/04/3414c1.png"
  size: 150x150
course_subject:
  QUERY: "id in (select course_subject_id from user_subjects where user_id = :user_id)"
user:
  SUPERVISORS_QUERY: "id in (select user_id from user_courses where course_id = :course_id and user_type = 1)"
form:
  row:
    size: 5
task_type: "task_type"
user_course_subject: "course_subject_id in (select id from course_subjects where course_id = :course_id)"
