rails_size: 200x200
timeout_size: 30
per_page: 10
course:
  course_image: "http://icetl.com/wp-content/uploads/2015/04/3414c1.png"
  size: 150x150
user:
  SUPERVISORS_QUERY: "id in (select user_id from user_courses where course_id = :course_id and user_type = 1)"
