<h1><%= t "courses" %></h1>
<% @courses.each do |course| %>
  <div class="wrap">
    <h1><%= link_to course.name, course %></h1>
    <%= image_tag Settings.course.course_image, size: Settings.course.size %>
  </div>
<% end %>
<%= paginate @courses %>
